body {
    padding-top: 150px;
    font-size: 1.03em;
    font-family: 'Exo 2', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Frank Ruhl Libre', serif;
}

.navbar {
    -webkit-transition: padding 0.2s ease;
    -moz-transition: padding 0.2s ease;
    -o-transition: padding 0.2s ease;
    transition: padding 0.2s ease;
    font-size: 0.9em;
}

.affix {
    background: white;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
}

#logo {
    height: 55px;
    margin: -10px;
    transition: margin 0.2s linear;
    transition: height 0.2s linear;
}

#page-start {
    min-height: 80vh;
}

#myCarousel {
    height: 65vh;
}

#carousel-text-holder {
    min-height: 200px;
}

#carousel-text-holder div {
    position: absolute;
    top: 40%;
    left: 0;
}

.profiles .rounded-circle {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

footer {
    text-shadow: 0px 0.5px 1px #888888;
    border-top: 1px solid #dddddd;
}

.icons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons .fa {
    width: 17%;
}
