body {
    padding-top: 100px;
    font-size: 1.03em;
    /*font-family: 'Exo 2', sans-serif;*/
    /*font-family: 'Libre Baskerville', serif;*/
    font-family: 'Frank Ruhl Libre', serif;
    background: #fafbfb;
}

.card-bg {
    background-image: url("../img/cards-bg.png");
    opacity: 0.85;
}

.hover-shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*h1, h2, h3, h4 {*/
/*font-family: 'Frank Ruhl Libre', serif;*/
/*}*/

.navbar {
    -webkit-transition: padding 0.2s ease;
    -moz-transition: padding 0.2s ease;
    -o-transition: padding 0.2s ease;
    transition: padding 0.2s ease;
    font-size: 0.9em;
    padding: 35px;
    opacity: 0.95;
    background-image: url("../img/body-bg.png");
}

footer {

    background-image: url("../img/body-bg.png");
}

.affix {
    background: white;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
    padding: 10px;

    background-image: url("../img/body-bg.png");

}

.page-content {
    min-height: 42vh;
}

.footer-title {
    font-size: 2.25em;
}

.brand-name {
    font-size: 20px;
    position: absolute;
    top: 25px;
}

#logo {
    height: 55px;
    transition: margin 0.2s linear;
    transition: height 0.2s linear;
    margin: -15px;
}

#minister-photo {

}

#page-start {
    min-height: 90vh;
}

#myCarousel {
    height: 80vh;
}

#carousel-text-holder {
    min-height: 200px;
}

#carousel-text-holder div {
    position: absolute;
    top: 40%;
    left: 0;
}

.profiles .rounded-circle {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

footer {
    text-shadow: 0px 0.5px 1px #888888;
    border-top: 1px solid #dddddd;
}

.icons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icons .fa {
    width: 17%;
}

